.heading{
    font-size:23px;
    width:100%;
    margin:0px;
    color:white;
    background-color: orange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.note{
    font-size:15px;
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.copy_right_footer{
    position: fixed;
    color:white;
    bottom: 0;
    width:100%;
    line-height:3;
    text-align: center;
    background-color:black;
}

canvas{
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}